a.out
Makefile_clean
.vs/mathutil/v15/ipch/AutoPCH/6c38df39ac738937/UMATH_FLOAT_COMPRESSOR.ipch
.vs/mathutil/v15/ipch/AutoPCH/691a671328fed5a2/UVEC.ipch
.vs/mathutil/v15/ipch/AutoPCH/587d41ffa9223bba/COLOR.ipch
.vs/mathutil/v15/ipch/AutoPCH/56543a01559bbf15/BOUNDINGVOLUME.ipch
.vs/mathutil/v15/ipch/AutoPCH/55a48a577ff42c14/COLOR.ipch
.vs/mathutil/v15/ipch/AutoPCH/4c3ae099c8cb91ca/UMATH.ipch
.vs/mathutil/v15/ipch/AutoPCH/2232ca7d021de7/UMESH.ipch
.vs/mathutil/v15/ipch/AutoPCH/14beac1484c085b/BOUNDINGVOLUME.ipch
.vs/mathutil/v15/Browse.VC.db
mathutil.VC.VC.opendb
mathutil.sdf
mathutil.VC.db
.vs/mathutil/v15/ipch/AutoPCH/f4c403ece1343998/EULERANGLES.ipch
.vs/mathutil/v15/ipch/AutoPCH/d71ef955a4684974/UMATH.ipch
.vs/mathutil/v15/ipch/AutoPCH/d62b9e573ec8e2f8/UMATH_FLOAT16_COMPRESSOR.ipch
.vs/mathutil/v15/ipch/AutoPCH/d4b8820114495ca6/COLOR_HSV.ipch
.vs/mathutil/v15/ipch/AutoPCH/c6f7686adaf43e7c/UVEC.ipch
.vs/mathutil/v15/ipch/AutoPCH/a70910753cce2791/UMATH_EQUATION_SOLVER.ipch
.vs/mathutil/v15/ipch/AutoPCH/a5f4d93ac8643004/UMAT.ipch
.vs/mathutil/v15/ipch/AutoPCH/7e4482a121c93615/UQUAT.ipch
Debug/mathutil.exp
mathutil/Release/mathutil.tlog/link.read.1.tlog
mathutil/Release/mathutil.tlog/link.command.1.tlog
mathutil/Release/mathutil.tlog/CL.write.1.tlog
mathutil/Release/mathutil.tlog/CL.read.1.tlog
mathutil/Release/mathutil.tlog/CL.command.1.tlog
mathutil/Debug_static/mathutil.tlog/mathutil.lastbuildstate
mathutil/Debug_static/mathutil.tlog/lib.command.1.tlog
mathutil/Debug_static/mathutil.tlog/Lib-link.write.1.tlog
mathutil/x64/Release_static/mathutil.tlog/Lib-link.read.1.tlog
mathutil/x64/Release_static/mathutil.tlog/CL.write.1.tlog
mathutil/Release_static/mathutil.tlog/mathutil.lastbuildstate
mathutil/Release_static/mathutil.tlog/lib.command.1.tlog
mathutil/Release_static/mathutil.tlog/Lib-link.write.1.tlog
mathutil/Release_static/mathutil.tlog/Lib-link.read.1.tlog
mathutil/Release_static/mathutil.tlog/CL.write.1.tlog
mathutil/Release_static/mathutil.tlog/CL.read.1.tlog
mathutil/Release_static/mathutil.tlog/CL.command.1.tlog
mathutil/Release/mathutil.tlog/mathutil.write.1u.tlog
mathutil/Release/mathutil.tlog/mathutil.lastbuildstate
mathutil/Release/mathutil.tlog/link.write.1.tlog
mathutil/Debug_static/mathutil.tlog/CL.write.1.tlog
mathutil/Debug_static/mathutil.tlog/CL.read.1.tlog
mathutil/Debug_static/mathutil.tlog/CL.command.1.tlog
Release/mathutil.ipdb
Release/mathutil.iobj
Release/mathutil.exp
mathutil/x64/Release_static/mathutil.tlog/mathutil.lastbuildstate
mathutil/x64/Release_static/mathutil.tlog/lib.command.1.tlog
mathutil/x64/Release_static/mathutil.tlog/Lib-link.write.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/CL.command.1.tlog
mathutil/x64/Debug/vc140.idb
mathutil/x64/Debug/mathutil.tlog/mathutil.write.1u.tlog
mathutil/x64/Debug/mathutil.tlog/mathutil.lastbuildstate
mathutil/x64/Debug/mathutil.tlog/link.write.1.tlog
mathutil/x64/Debug/mathutil.tlog/link.read.1.tlog
mathutil/x64/Debug/mathutil.tlog/link.command.1.tlog
mathutil/x64/Debug/mathutil.tlog/CL.write.1.tlog
mathutil/x64/Debug/mathutil.tlog/CL.read.1.tlog
mathutil/x64/Debug/mathutil.tlog/CL.command.1.tlog
mathutil/Debug/mathutil.tlog/link.command.1.tlog
mathutil/Debug/mathutil.tlog/cl.command.1.tlog
mathutil/Debug/mathutil.tlog/CL.write.1.tlog
mathutil/Debug/mathutil.tlog/CL.read.1.tlog
mathutil/x64/Release/mathutil.tlog/CL.read.1.tlog
mathutil/x64/Release/mathutil.tlog/CL.command.1.tlog
mathutil/x64/Debug_static/vc140.idb
mathutil/x64/Debug_static/mathutil.tlog/mathutil.write.1u.tlog
mathutil/x64/Debug_static/mathutil.tlog/mathutil.lastbuildstate
mathutil/uvec.o
mathutil/uquat.o
mathutil/umesh.o
mathutil/umath.o
mathutil/umat.o
mathutil/Debug_static/mathutil.idb
mathutil/Debug/vc140.idb
mathutil/Debug/vc120.idb
mathutil/Debug/mathutil.tlog/mathutil.write.1u.tlog
mathutil/Debug/mathutil.tlog/mathutil.lastbuildstate
mathutil/Debug/mathutil.tlog/link.write.1.tlog
mathutil/Debug/mathutil.tlog/link.read.1.tlog
mathutil/x64/Release_static/mathutil.tlog/CL.read.1.tlog
mathutil/x64/Release_static/mathutil.tlog/CL.command.1.tlog
mathutil/x64/Release/mathutil.tlog/mathutil.write.1u.tlog
mathutil/x64/Release/mathutil.tlog/mathutil.lastbuildstate
mathutil/x64/Release/mathutil.tlog/link.write.1.tlog
mathutil/x64/Release/mathutil.tlog/link.read.1.tlog
mathutil/x64/Release/mathutil.tlog/link.command.1.tlog
mathutil/x64/Release/mathutil.tlog/CL.write.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/link.write.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/link.read.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/link.command.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/CL.write.1.tlog
mathutil/Debug_static/mathutil.tlog/Lib-link.read.1.tlog
mathutil/x64/Debug_static/mathutil.tlog/CL.read.1.tlog
x64/Release/mathutil.ipdb
x64/Debug/mathutil.exp
x64/Release/mathutil.iobj
x64/Release/mathutil.exp
x64/Debug_static/mathutil.exp
lib/libmathutil_x64.so
lib/g++_old/libmathutil_x64.so
mathutil/ReadMe.txt
lib/static/libmathutil_x64.a
mathutil/eulerangles.o
mathutil/color.o
mathutil/boundingvolume.o
build_clean.sh
